<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 mb-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/users-servers"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users-servers/servers"
          >Servers</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users-servers/users']"
          >Users</a
        >
      </li>
    </ul>
  </div>
</div>
