// pre code {
//   background-color: #eee;
//   border: 1px solid #999;
//   display: block;
//   padding: 10px;
// }

pre code {
  background-color: rgb(84, 66, 66);
  color:rgb(243, 244, 248);
  border: 1px solid #999;
  display: block;
  padding: 10px;
}
