<p>rooms works!</p>
<h3>Welcome to {{hotelName}} <span class="text-muted">from room component</span></h3>
<app-header-app></app-header-app>
<app-header-app></app-header-app>
<app-header-app></app-header-app>

<div [hidden]="hideRooms">
  Number of rooms:
  <span
    [ngStyle]="{ color: rooms.availableRooms ? 'steelblue' : 'red' }"
    [innerText]="numberOfRooms"
  >
  </span>
</div>

{{ !rooms.availableRooms && 'No rooms' }}

<button type="button" (click)="addRoom()">Add room</button>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div *ngIf="rooms.availableRooms > 0 && hideRooms">
  <app-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>

<pre [hidden]="hideRooms">{{ roomList | json }}</pre>
